    @model LoginWith2faViewModel

    <div class="panel-body">
        <div class="col-md-3 col-sm-6">
            <form asp-route="LoginWith2fa">
                <fieldset>
                    <div class="form-group">
                        <!-- <label asp-for="loginCode"></label> -->
                        <input class="form-control" placeholder="Enter Two Factor Code" asp-for="loginCode" autocomplete="off">
                    </div>
                    
                    <div class="form-group">
                        <button class="btn btn-primary" name="button" value="LoginWith2fa">Two Factor Login</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>